* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: rgba(70, 70, 70, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: white;
}

tooltip {
    background: rgba(43, 48, 59, 1.0);
    border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
    color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.visible {
    background: #64727D;
    border-bottom: 3px solid white;
}

#mode, #clock, #battery, #pulseaudio, #temperature, #language, #backlight,
#idle_inhibitor, #tray, #cpu, #memory, #disk {
    padding: 0 10px;
}
#network.name {
    padding-left: 10px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: #64727D;
}

#battery.charging {
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#workspaces button.urgent {
    background: #BF616A;
    border-bottom: 0px;
    color: #2E3440;
}


#battery.warning:not(.charging) {
    background: #f5ca3c;
    color: white;
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    color: white;
}

